.bg-blue {
  background-color: lightblue;
}
.bg-blue-dark {
  background-color: #86c5da;
}
.bg-pink {
  background-color: rgb(235, 117, 117);
}
.bg-pink-dark {
  background-color: #eb5252;
}
.bg-green {
  background-color: #42FF33;
}
.bg-green-dark {
  background-color: #31B027;
}
.bg-grey {
  background-color: #A8ACA7;
}
.bg-grey-dark {
  background-color: #5D5F5D;
}
.bg-red {
  background-color: #F84747;
}
.bg-red-dark {
  background-color: #972C2C;
}
  textarea {
    width: 500px;
  }

  .text-input-highlight-container {
      position: relative;
  }

  .text-input-highlight-container .text-input-element {
    background: none;
    position: relative;
    z-index: 2;
  }

  .text-input-highlight-container .text-highlight-element {
    overflow: hidden !important;
    word-break: break-word;
    white-space: pre-wrap;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    color: rgba(0, 0, 0, 0);
    z-index: 1;
  }

  .text-input-highlight-container .text-highlight-tag {
    border-radius: 8px;
    padding: 1px 3px;
    margin: -1px -3px;
    overflow-wrap: break-word;
  }
