<header>
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <span i18n="Header Content|Title for Header Content" class="me-1">POC Angular</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" routerLink="/highlight">
              <i class="fas fa-home mr-1"></i><span>Highlight</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</main>

<!-- <footer>
  <p i18n="Footer Content|Title for Footer Content">Footer content here</p>
</footer> -->